---
export const prerender = false;
import DocumentView from "@components/DocumentView.astro";
import DocumentHeader from "@/components/DocumentHeader.astro";
import DocumentTableOfContent from "@/components/DocumentTableOfContent.astro";
import DocumentSourcePicker from "@/components/DocumentSourcePicker.astro";
import FlagModal from "@/components/FlagModal.astro";
import Layout from "@/layouts/Layout.astro";
import { removeFrontmatter } from "@/utils/frontmatter-parser";
import { renderMarkdownWithToc } from "@/utils/markdown-engine";
import { getDocumentById } from "@/services/documentService";
import { type TocItem } from "@/utils/markdown-engine";

interface Props {
	id: string;
}

const { id } = Astro.params;

if (!id) {
	return Astro.redirect("/404");
}
const result = await getDocumentById(id);

let html
let toc: TocItem[] = []
if (!result || !result.content_markdown ) {
	html = `<div class="text-center py-16 content-center h-screen text-slate-700"><h1>404 Not Found</h1><p>Document not found.</p></div>`;
} else {
	const cleanMarkdown = removeFrontmatter(result.content_markdown);
	const rendered = await renderMarkdownWithToc(cleanMarkdown);
	html = rendered.html;
	toc = rendered.toc;
}

const source = result.metadata_fields.source_name;
const sources = [source]; // Replace with sources array
---

<Layout>
	<div class="flex flex-col flex-1 min-h-0">
		<DocumentHeader
			docType={result.doc_type}
			docId={result.canonical_citation}
		/>
		<div class="flex flex-1 min-h-0 justify-center">
			<div class="flex max-w-6xl w-full">
					<aside class="shrink-0 w-56">
						<div class="sticky top-36 flex flex-col gap-4">
							<DocumentTableOfContent headers={toc} />
							<DocumentSourcePicker
								currentSource={source}
								sources={sources}
								currentSourceUrl={result.source_url}
							/>
						</div>
					</aside>
				<DocumentView html={html} />
			</div>
		</div>
	</div>
	<FlagModal id={id} />
</Layout>
