---
import { ArrowLeft, Flag, Download } from "lucide-react";


const { docType, docId, markdown } = Astro.props;
---

<div class="h-16 bg-white w-full z-50 shadow-sm sticky top-16 select-none">
	<nav class="flex h-full items-center py-3 px-8 justify-between">
		<div class="flex items-center gap-4">
			<button
				class="flex items-center gap-1 texm-sm font-medium text-slate-500 hover:text-blue-900 cursor-pointer"
				onclick="window.location.href='/archive'"
				><ArrowLeft size={16} /> Back</button
			>
			<div class="bg-slate-300 h-4 w-px mx-2"></div>
			<div class="flex items-center gap-2 text-xs text-slate-500">
				<span
					class="bg-slate-100 px-2 py-0.5 rounded border border-slate-200 uppercase font-semibold"
					>{docType}</span
				><span>•</span><span>{docId}</span>
			</div>
		</div>
		<div class="flex items-center gap-2">
			<button
				id="open-mdl-btn"
				class="p-2 text-slate-400 hover:text-slate-600 hover:bg-slate-100 rounded-md transition-colors cursor-pointer"
				><Flag size={18} /></button
			>
			<button
				id="download-button"
				class="p-2 text-slate-400 hover:text-slate-600 hover:bg-slate-100 rounded-md transition-colors cursor-pointer"
				>
				<Download size={18}/>
			</button>
		</div>
	</nav>
	<input type="hidden" id="document-id" value={docId}>
	<input type="hidden" id="markdown" value={markdown}>
</div>

<script>
import { getGeneratedPDF } from "@/services/documentService";

	const downloadButton = document.querySelector("#download-button");

	async function downloadGeneratedPDF() {
        const docId = (document.querySelector("#document-id") as HTMLInputElement).value as string;
        const markdown = (document.querySelector("#markdown") as HTMLInputElement).value as string;

		try {
            const response = await getGeneratedPDF(markdown)
            const blob = await response.blob();
            const blobUrl = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.style.display = 'none';
            link.href = blobUrl;
            link.download = `OpenJuris_${docId}.pdf`;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            window.URL.revokeObjectURL(blobUrl);
        } catch (error) {
            console.error("Error downloading the PDF:", error);
        }
    }

	downloadButton?.addEventListener("click", (event: Event) => {
		downloadGeneratedPDF()
	})

</script>